*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.container{
  width:1180px;
  margin:0 auto;
}

body{
  font-family: sans-serif;
  background-color: #dfdfe3;
}

.App .container{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.App .container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  width: 30%;
}

.label{
  display: flex;
  flex-direction: column;
  margin:10px 0px;
  color: #5f5d5d;
}

.btn{
  margin-top:10px;
}

.input{
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  border:none;
  margin-top: 5px;
  font-size: 15px;
  background-color: #fff;
}

.btn{
  border-radius: 5px;
  padding: 10px 20px;
  border:none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(19, 160, 231);
  color: #fff;
  transition: 0.3s;
  cursor: pointer !important;
}

.btn:hover{
   background-color: rgb(8, 115, 169);
}


.footer_form{
  height: 40;
}


.footer_text{
  color:rgb(247, 4, 4);
}



